<header class="navbar navbar-dark navbar-fixed-top navbar-expand-lg bg-primary">

    <a class="navbar-brand" [routerLink]="['/']" (click)="isNavbarCollapsed = true">Statistici Romania</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
            [attr.aria-expanded]="!isNavbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/performerii-lunii']" (click)="isNavbarCollapsed = true">Performerii lunii</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/statistici-judetene']" (click)="isNavbarCollapsed = true">Statistici judetene</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/clasamente']" (click)="isNavbarCollapsed = true">Clasamente</a>
            </li>
            <!--<li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/covid19']" (click)="isNavbarCollapsed = true">Covid-19</a>
            </li>-->
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/despre-noi']" (click)="isNavbarCollapsed = true">Despre noi</a>
            </li>
        </ul>

        <span class="github-buttons d-none d-lg-inline">
            <a href='https://itunes.apple.com/us/app/statistici-romania/id1364652048?ls=1&mt=8' target="_blank">
                <img alt='acum in App Store' src='../../../../wwwroot/Download_on_the_App_Store_Badge_RO_RGB_blk_100317.svg' height="40" />
            </a>
            <a href='https://play.google.com/store/apps/details?id=com.statisticiromania.app&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank">
                <img alt='acum pe Google Play' src='../../../../wwwroot/google-play-badge.png' height="60" />
            </a>
        </span>
    </div>
</header>

<!--Source: https://github.com/ng-bootstrap/ng-bootstrap/issues/738 -->