@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="ro">
<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4024802291999001",
    enable_page_level_ads: true
  });
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Vizualizare tabelara si grafica a unor indicatori statistici la nivelul judetelor Romaniei. Indicatori disponibili: exporturi FOB, importuri CIF, sold FOB/CIF, efectiv salariati, salariu mediu brut, 
          salariu mediu net, numar someri, innoptari, numar turisti. Datele sunt preluate de la Insistitutul National de Statistica." />
    <meta name="keywords" content="statistici, judet, exporturi FOB, importuri CIF, sold FOB/CIF, efectiv salariati, salariu mediu brut, salariu mediu net, numar someri, innoptari, numar turisti">
    <title>Statistici Romania @ViewData["Title"]</title>
    <base href="/" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
