<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.29.4" targetFramework="portable-win+net45+MonoAndroid10+xamarinios10+MonoTouch10" developmentDependency="true" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="portable45-net45+win8" />
  <package id="OxyPlot.Xamarin.Forms" version="1.0.0" targetFramework="portable45-net45+win8" />
  <package id="PropertyChanged.Fody" version="1.50.4" targetFramework="portable-win+net45+MonoAndroid10+xamarinios10+MonoTouch10" developmentDependency="true" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="portable-win+net45+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="portable-win+net45+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xam.Plugins.Settings" version="2.1.0" targetFramework="portable-win+net45+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xamarin.Forms" version="2.5.0.280555" targetFramework="portable45-net45+win8" />
</packages>