<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="5.0.0" targetFramework="portable45-net45+win8" />
  <package id="akavache.core" version="5.0.0" targetFramework="portable45-net45+win8" />
  <package id="akavache.sqlite3" version="5.0.0" targetFramework="portable45-net45+win8" />
  <package id="Fody" version="3.2.4" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.NETCore.Targets" version="1.1.0" targetFramework="portable45-net45+win8" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="portable45-net45+win8" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="portable45-net45+win8" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="portable45-net45+win8" />
  <package id="OxyPlot.Xamarin.Forms" version="1.0.0" targetFramework="portable45-net45+win8" />
  <package id="PropertyChanged.Fody" version="2.5.11" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="runtime.native.System" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="Rx-Core" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-Main" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Splat" version="1.6.0" targetFramework="portable45-net45+win8" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="portable-win+net45+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="portable-win+net45+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="portable45-net45+win8" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="1.1.11" targetFramework="portable45-net45+win8" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="portable45-net45+win8" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="portable45-net45+win8" />
  <package id="System.Collections" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Globalization" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.IO" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Linq" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Reflection" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Runtime" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Threading" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="Xam.Plugin.Connectivity" version="3.2.0" targetFramework="portable45-net45+win8" />
  <package id="Xam.Plugins.Settings" version="2.1.0" targetFramework="portable-win+net45+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xamarin.Forms" version="3.1.0.637273" targetFramework="portable45-net45+win8" />
</packages>