<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="5.0.0" targetFramework="portable45-net45+win8" />
  <package id="akavache.core" version="5.0.0" targetFramework="portable45-net45+win8" />
  <package id="akavache.sqlite3" version="5.0.0" targetFramework="portable45-net45+win8" />
  <package id="Fody" version="1.29.4" targetFramework="portable-win+net45+MonoAndroid10+xamarinios10+MonoTouch10" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="portable45-net45+win8" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="portable45-net45+win8" />
  <package id="OxyPlot.Xamarin.Forms" version="1.0.0" targetFramework="portable45-net45+win8" />
  <package id="PropertyChanged.Fody" version="1.50.4" targetFramework="portable-win+net45+MonoAndroid10+xamarinios10+MonoTouch10" developmentDependency="true" />
  <package id="Rx-Core" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-Main" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Splat" version="1.6.0" targetFramework="portable45-net45+win8" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="portable-win+net45+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="portable-win+net45+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="1.1.0" targetFramework="portable45-net45+win8" />
  <package id="SQLitePCLRaw.core" version="1.1.0" targetFramework="portable45-net45+win8" />
  <package id="Xam.Plugin.Connectivity" version="3.2.0" targetFramework="portable45-net45+win8" />
  <package id="Xam.Plugins.Settings" version="2.1.0" targetFramework="portable-win+net45+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xamarin.Forms" version="3.1.0.637273" targetFramework="portable45-net45+win8" />
</packages>