<h1>Statistici judetene</h1>
<br />
<br />
<div class="form-group">
    <div class="row">
        <div class="col-md-2">
            <label>Judet:</label>
        </div>
        <div class="col-md-4">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>
                    {{county1Text}}
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <button *ngFor="let county of counties1" class="dropdown-item {{county1 == county.id ? 'active' : ''}}" (click)="ChangeCounty1(county)">{{county.name}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <label>compara cu</label>
        </div>
        <div class="col-md-4">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownMenu2" ngbDropdownToggle>
                    {{county2Text}}
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button *ngFor="let county of counties2" class="dropdown-item {{county2 == county.id ? 'active' : ''}}" (click)="ChangeCounty2(county)">{{county.name}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-2">
            <label>Indicator:</label>
        </div>
        <div class="col-md-10">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>
                    {{indicator}}
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <button class="dropdown-item {{indicator == 'Comert international - exporturi FOB' ? 'active' : ''}}" (click)="ChangeIndicator('Comert international - exporturi FOB')">Comert international - exporturi FOB</button>
                    <button class="dropdown-item {{indicator == 'Comert international - importuri CIF' ? 'active' : ''}}" (click)="ChangeIndicator('Comert international - importuri CIF')">Comert international - importuri CIF</button>
                    <button class="dropdown-item {{indicator == 'Comert international - sold FOB/CIF' ? 'active' : ''}}" (click)="ChangeIndicator('Comert international - sold FOB/CIF')">Comert international - sold FOB/CIF</button>
                    <button class="dropdown-item {{indicator == 'Forta de munca - efectiv salariati' ? 'active' : ''}}" (click)="ChangeIndicator('Forta de munca - efectiv salariati')">Forta de munca - efectiv salariati</button>
                    <button class="dropdown-item {{indicator == 'Forta de munca - salariu mediu brut' ? 'active' : ''}}" (click)="ChangeIndicator('Forta de munca - salariu mediu brut')">Forta de munca - salariu mediu brut</button>
                    <button class="dropdown-item {{indicator == 'Forta de munca - salariu mediu net' ? 'active' : ''}}" (click)="ChangeIndicator('Forta de munca - salariu mediu net')">Forta de munca - salariu mediu net</button>
                    <button class="dropdown-item {{indicator == 'Forta de munca - numar someri' ? 'active' : ''}}" (click)="ChangeIndicator('Forta de munca - numar someri')">Forta de munca - numar someri</button>
                    <button class="dropdown-item {{indicator == 'Turism - innoptari' ? 'active' : ''}}" (click)="ChangeIndicator('Turism - innoptari')">Turism - innoptari</button>
                    <button class="dropdown-item {{indicator == 'Turism - numar turisti' ? 'active' : ''}}" (click)="ChangeIndicator('Turism - numar turisti')">Turism - numar turisti</button>
                </div>
            </div>
        </div>
    </div>
</div>

<p *ngIf="!countyDetails"><em>Loading...</em></p>

<table class='table table-sm' *ngIf="countyDetails">
    <thead>
        <tr>
            <th>An</th>
            <th>Luna</th>
            <th>{{valueColumnCaption}}</th>
            <th *ngIf="value2ColumnCaption">{{value2ColumnCaption}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of countyDetails">
            <td>{{ item.year }}</td>
            <td>{{ item.yearFraction }}</td>
            <td>{{ item.value | number:'1.0-0' }}</td>
            <td *ngIf="value2ColumnCaption">{{ item.value2 | number:'1.0-0' }}</td>
        </tr>
    </tbody>
</table>