<h1>Statistici judetene</h1>
<div class="form-group">
    <div class="fb-like" data-href="http://statisticiromania.ro/statistici-judetene" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
    <div id="fb-share-button" class="fb-share-button" [attr.data-href]="shareableUrl" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
</div>
<br />
<div class="form-group">
    <div class="row">
        <div class="col-md-2">
            <label>Judet:</label>
        </div>
        <div class="col-md-4">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>
                    {{county1Text}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                    <button *ngFor="let county of counties1" class="dropdown-item {{county1 == county.id ? 'active' : ''}}" (click)="ChangeCounty1(county)">{{county.name}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <label>compara cu</label>
        </div>
        <div class="col-md-4">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownMenu2" ngbDropdownToggle>
                    {{county2Text}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownMenu2">
                    <button *ngFor="let county of counties2" class="dropdown-item {{county2 == county.id ? 'active' : ''}}" (click)="ChangeCounty2(county)">{{county.name}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-2">
            <label>Indicator:</label>
        </div>
        <div class="col-md-10">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>
                    {{indicator}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                    <button class="dropdown-item {{indicator == 'Comert international - exporturi FOB' ? 'active' : ''}}" (click)="ChangeIndicator('Comert international - exporturi FOB')">Comert international - exporturi FOB</button>
                    <button class="dropdown-item {{indicator == 'Comert international - importuri CIF' ? 'active' : ''}}" (click)="ChangeIndicator('Comert international - importuri CIF')">Comert international - importuri CIF</button>
                    <button class="dropdown-item {{indicator == 'Comert international - sold FOB/CIF' ? 'active' : ''}}" (click)="ChangeIndicator('Comert international - sold FOB/CIF')">Comert international - sold FOB/CIF</button>
                    <button class="dropdown-item {{indicator == 'Forta de munca - efectiv salariati' ? 'active' : ''}}" (click)="ChangeIndicator('Forta de munca - efectiv salariati')">Forta de munca - efectiv salariati</button>
                    <button class="dropdown-item {{indicator == 'Forta de munca - salariu mediu brut' ? 'active' : ''}}" (click)="ChangeIndicator('Forta de munca - salariu mediu brut')">Forta de munca - salariu mediu brut</button>
                    <button class="dropdown-item {{indicator == 'Forta de munca - salariu mediu net' ? 'active' : ''}}" (click)="ChangeIndicator('Forta de munca - salariu mediu net')">Forta de munca - salariu mediu net</button>
                    <button class="dropdown-item {{indicator == 'Forta de munca - numar someri' ? 'active' : ''}}" (click)="ChangeIndicator('Forta de munca - numar someri')">Forta de munca - numar someri</button>
                    <button class="dropdown-item {{indicator == 'Turism - innoptari' ? 'active' : ''}}" (click)="ChangeIndicator('Turism - innoptari')">Turism - innoptari</button>
                    <button class="dropdown-item {{indicator == 'Turism - numar turisti' ? 'active' : ''}}" (click)="ChangeIndicator('Turism - numar turisti')">Turism - numar turisti</button>
                    <button class="dropdown-item {{indicator == 'Populatie - nascuti vii' ? 'active' : ''}}" (click)="ChangeIndicator('Populatie - nascuti vii')">Populatie - nascuti vii</button>
                    <button class="dropdown-item {{indicator == 'Populatie - decedati' ? 'active' : ''}}" (click)="ChangeIndicator('Populatie - decedati')">Populatie - decedati</button>
                    <button class="dropdown-item {{indicator == 'Populatie - spor natural' ? 'active' : ''}}" (click)="ChangeIndicator('Populatie - spor natural')">Populatie - spor natural</button>
                    <button class="dropdown-item {{indicator == 'Populatie - casatorii' ? 'active' : ''}}" (click)="ChangeIndicator('Populatie - casatorii')">Populatie - casatorii</button>
                    <button class="dropdown-item {{indicator == 'Populatie - divorturi' ? 'active' : ''}}" (click)="ChangeIndicator('Populatie - divorturi')">Populatie - divorturi</button>
                    <button class="dropdown-item {{indicator == 'Populatie - decedati sub 1 an' ? 'active' : ''}}" (click)="ChangeIndicator('Populatie - decedati sub 1 an')">Populatie - decedati sub 1 an</button>
                    <button class="dropdown-item {{indicator == 'Autorizatii de construire pentru cladiri rezidentiale' ? 'active' : ''}}" (click)="ChangeIndicator('Autorizatii de construire pentru cladiri rezidentiale')">Autorizatii de construire pentru cladiri rezidentiale</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-2">
            <label>Comparatie:</label>
        </div>
        <div [(ngModel)]="comparisonType" ngbRadioGroup name="radioBasic" class="btn-group col-md-10">
            <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="1" (click)="ChangeComparisonType(1)"> Lunara
            </label>
            <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="2" (click)="ChangeComparisonType(2)"> Anuala
            </label>
        </div>
    </div>
</div>

<p *ngIf="!countyDetails"><em>Loading...</em></p>

<div class="row">
    <div *ngIf="lineChartData" style="display: block;" class="col-md-8 mx-auto">
        <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>
    </div>
</div>

<!--<div *ngIf="lineChartData" style="display: block;">
    <canvas baseChart width="400" height="400"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"></canvas>
</div>-->

<table class='table table-sm' *ngIf="countyDetails">
    <thead>
        <tr>
            <th>An</th>
            <th *ngIf="!needToProcessAllYear">Luna</th>
            <th>{{valueColumnCaption}}</th>
            <th *ngIf="value2ColumnCaption">{{value2ColumnCaption}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of countyDetails">
            <td>{{ item.year }}</td>
            <td *ngIf="!needToProcessAllYear">{{ item.yearFraction }}</td>
            <td>{{ item.value | number:'1.0-0' }}</td>
            <td *ngIf="value2ColumnCaption">{{ item.value2 | number:'1.0-0' }}</td>
        </tr>
    </tbody>
</table>