<h1>Despre Statistici Romania</h1>
<br />
<p>
    Aplicatia permite accesarea facila a unor indicatori statistici la nivelul judetelor Romaniei.<br><br>

    Functionalitati:<br>
    - date statistice la nivelul fiecarui judet<br>
    - comparare judete functie de indicatorul statistic selectat<br>
    - clasamentul judetelor pentru fiecare indicator statistic disponibil in aplicatie<br><br>

    Indicatori statistici disponibili:<br>
    - Comert international - exporturi FOB<br>
    - Comert international - importuri CIF<br>
    - Comert international - sold FOB/CIF<br>
    - Forta de munca - efectiv salariati;<br>
    - Forta de munca - salariu mediu brut;<br>
    - Forta de munca - salariu mediu net;<br>
    - Forta de munca - numar someri;<br>
    - Turism - innoptari;<br>
    - Turism - numar turisti;<br>
    - Populatie - nascuti vii;<br>
    - Populatie - decedati;<br>
    - Populatie - spor natural;<br>
    - Populatie - casatorii;<br>
    - Populatie - divorturi;<br>
    - Populatie - decedati sub 1 an;<br>
    - Autorizatii de construire pentru cladiri rezidentiale;<br>
    <br>

    Datele sunt disponibile incepand cu luna octombrie 2014 pana la ultima luna raportata de INS.<br><br>

    Datele sunt publice si sunt preluate de pe siteul Institutului National de Statistica:<br><br>

    <a href="http://www.insse.ro/cms/ro/content/buletine-statistice" target="_blank">Buletine statistice</a><br>
    <a href="http://www.insse.ro/cms/ro/publicatii-statistice-in-format-electronic?field_categorie_publicatie_value_i18n%5B%5D=15&created=5&field_cuvinte_cheie_value=&items_per_page=10" target="_blank">Publicatii statistice</a><br><br>

    Datele din buletinele statistice lunare sunt provizorii si pot suferi modificari. De aceea pot exista anumite diferente intre cifrele gasite pe site si cele gasite in aplicatia Tempo a INS. Datele finale si corecte sunt cele din aplicatia Tempo.

    Codul sursa este "open-source" si poate fi gasit pe <a href="https://github.com/OvidiuCaba/StatisticsRomania" target="_blank">GitHub</a><br>


</p>
<p>Aplicatia este disponibila si pentru sistemele de operare Android si o puteti descarca de aici:</p>
<a href='https://play.google.com/store/apps/details?id=com.statisticiromania.app&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank"><img class="img-fluid" alt='acum pe Google Play' src='../../../../wwwroot/google-play-badge.png' /></a>

<p>In caz ca doriti sa trimiteti sugestii pentru care dintre cele doua aplicatii (mobile sau web), o puteti face contactandu-ma de pe pagina de Facebook <a target="_blank" href="https://www.facebook.com/StatisticiRomaniaApp/">Statistici Romania</a></p>