<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.statisticiromania.app" android:installLocation="auto" android:versionCode="74" android:versionName="1.43">
	<uses-sdk android:targetSdkVersion="27" android:minSdkVersion="19" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Statistici Romania" android:icon="@drawable/icon"></application>
</manifest>