<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="5.0.0" targetFramework="monoandroid80" />
  <package id="akavache.core" version="5.0.0" targetFramework="monoandroid80" />
  <package id="akavache.sqlite3" version="5.0.0" targetFramework="monoandroid80" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="MonoAndroid50" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="monoandroid80" />
  <package id="OxyPlot.Xamarin.Android" version="1.0.0" targetFramework="monoandroid80" />
  <package id="OxyPlot.Xamarin.Forms" version="1.0.0" targetFramework="monoandroid80" />
  <package id="Rx-Core" version="2.2.5" targetFramework="monoandroid80" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="monoandroid80" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="monoandroid80" />
  <package id="Rx-Main" version="2.2.5" targetFramework="monoandroid80" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="monoandroid80" />
  <package id="Splat" version="1.6.0" targetFramework="monoandroid80" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="MonoAndroid50" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="MonoAndroid50" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="MonoAndroid50" />
  <package id="sqlite-net-pcl" version="1.4.118" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="1.1.11" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.11" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.11" targetFramework="monoandroid81" />
  <package id="Xam.Plugin.Connectivity" version="3.2.0" targetFramework="monoandroid80" />
  <package id="Xam.Plugins.Settings" version="2.1.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Annotations" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Compat" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Design" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Fragment" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Transition" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v4" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.CardView" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.Palette" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Forms" version="3.1.0.637273" targetFramework="monoandroid80" />
</packages>