<h1>Performerii lunii</h1>
<div class="form-group">
    <div class="fb-like" data-href="http://statisticiromania.ro/performerii-lunii" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
    <div id="fb-share-button" class="fb-share-button" [attr.data-href]="shareableUrl" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
</div>
<br />
<div class="form-group">
    <div class="row">
        <div class="col-md-2">
            <label>Analiza:</label>
        </div>
        <div [(ngModel)]="comparisonType" ngbRadioGroup name="radioBasic" class="btn-group col-md-10">
            <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="1" (click)="ChangeComparisonType(1)"> Lunara
            </label>
            <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="2" (click)="ChangeComparisonType(2)"> Anuala
            </label>
        </div>
    </div>
</div>

<div *ngFor="let indicator of indicators">
    <h3>{{indicator.name}}</h3>
    <h5>{{indicator.comparisonPeriod}}</h5>
    <br />
    <table class='table table-sm'>
        <thead>
            <tr>
                <th>Pozitie</th>
                <th>Judet</th>
                <th class="text-right">Valoare veche</th>
                <th class="text-right">Valoare noua</th>
                <th class="text-right">Variatie</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let performer of indicator.performers" [style.background-color]="performer.favourite ? 'bisque' : 'transparent'" (click)="ToggleCounty(performer.county)">
                <td>{{ performer.position | number:'1.0-0' }}</td>
                <td>{{ performer.county }}</td>
                <td class="text-right">{{ performer.oldValue | number:'1.0-0' }}</td>
                <td class="text-right">{{ performer.newValue | number:'1.0-0' }}</td>
                <td class="text-right">{{ performer.valueVariation }}</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <br />
    <br />
</div>