<h1>Statistici Romania</h1>
<br />
<p>Momentan pagina este in constructie. Pana cand aceasta va fi disponibila, puteti descarca aplicatia Android de aici:</p>
<a href='https://play.google.com/store/apps/details?id=com.statisticiromania.app&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank"><img class="img-fluid" alt='acum pe Google Play' src='../../../../wwwroot/google-play-badge.png' /></a>

<p>In caz ca doriti sa trimiteti sugestii pentru care dintre cele doua aplicatii (mobile sau web), o puteti face contactandu-ma de pe pagina de Facebook <a target="_blank" href="https://www.facebook.com/StatisticiRomaniaApp/">Statistici Romania</a></p>